<nav class="navbar is-white is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <!-- uncomment to get branding text to the left of the navbar menu
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item"
                href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
                <strong>{{site.top_title}}</strong>
            </a>
            <div class="navbar-burger" data-target="navbar-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
      -->
        <!-- children of navbar-menu must be navbar-start and/or navbar-end -->
        <div class="navbar-menu has-background-white" id="navbar-menu">
            <!-- navbar items | left side -->
            <!-- <div class="navbar-start">
            </div> -->
            <!-- navbar items | right side -->
            <div class="navbar-end">
                <a class="navbar-item {% if page.layout == 'default' %}is-active{% endif %}"
                    href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">Home</a>
                <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#details">The Details</a>
                <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#dest">Destination</a>
                <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#arrive">Getting There</a>
                <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#program">Program</a>
                <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#sleep">Acommodation</a>
                <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#rsvp">RSVP</a>
<!--
to add an element with a dropdwon menu
                <a class="navbar-item {% if page.layout == 'blog' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/blog">BLOG</a>
                {% include dropdown.html %}
-->
            </div>

        </div>
    </div>
</nav>
<!-- Bulma Navbar JS -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        /* Get all "navbar-burger" elements */
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        /* Check if there are any navbar burgers */
        if ($navbarBurgers.length > 0) {
            /* Add a click event on each of them */
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    /* Get the target from the "data-target" attribute */
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    /* Toggle the class on both the "navbar-burger" and the "navbar-menu" */
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
